pandas==1.4.2
streamlit
numpy==1.20.3
matplotlib>=3.7
pyparsing<3.0.0
pickle-mixin==1.0.2
joblib==1.1.1
scikit-learn==1.0.2
xgboost==1.5.0
onnxruntime==1.18.0

# Prevent Streamlit dependency conflicts
rich==13.9.4
markdown-it-py==2.2.0
mdurl==0.1.2
pygments==2.17.2
