# ---- Core scientific libraries ----
pandas==2.0.3
numpy>=1.21.6,<2.0

# ---- Visualization ----
matplotlib>=3.7

# ---- ML stack ----
scikit-learn==1.0.2
joblib==1.1.1

# ---- ONNX ----
onnxruntime==1.18.0

# ---- Streamlit ----
streamlit>=1.41

